@import url(https://db.onlinewebfonts.com/c/97386c1d7bdb684478ab36ec4e1129c8?family=Sk-Modernist);
* {
  box-sizing: border-box;
  font-family: "Sk-Modernist", serif;
  margin: 0;
  padding: 0;
}
section {
  width: 100%;
  height: auto;
}
/*Header*/
header {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  padding: 20px 80px;
  background-color: transparent;
}
header h1{
  color: white;
  cursor: pointer;
  font-weight: bolder;
  font-size: 40px;
  margin-top: 9px;
  margin-right: auto;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  font-size: 17px;
  color: white;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
  display: none;
}
header nav button {
  font-weight: 500;
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 9px 25px;
  cursor: pointer;
  border-radius: 50px;
}
header nav button:hover {
  background-color: white;
  color: black;
}
header.abajo {
  background-color: rgba(255, 255, 255, 255); /* Example change */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 1s, box-shadow 0.3s;
}
header.abajo nav a {
  display: block;
  color: #101214;
}
header.abajo h1 {
  color: #101214;
  margin-top: 0;
}
header.abajo nav button{
  color: #101214;
  border: 2px solid #101214;
}
header.abajo nav button:hover {
  background-color: black;
  color: white;
}
/*Section One*/
.sectionOne{
  background-image: linear-gradient(to bottom, rgba(219, 219, 232, 0)70%, rgba(255, 255, 255, 1) 100%), url('https://i.imgur.com/cVRorMh.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.sectionOne .inicio{
  justify-content: center;
  align-items: center;
  padding: 160px 50px;
}
.sectionOne .inicio .articleLanding{
  text-align: center;
  margin-right: 60px;
  margin-left: 60px;
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.sectionOne .inicio .articleLanding h1 {
  font-size: 50px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}
.sectionOne .inicio .articleLanding p {
  font-size: 20px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/*Seccion dos*/
.sectionTwo{
  height: auto;
}
.sectionTwo .about{
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
}
.sectionTwo .about h2{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 45px;
  color: #101214;
}
.sectionTwo .about p{
  text-align: justify;
  font-size: 20px;
}
.sectionTwo .characteristics, .sectionTwo .estadistics{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border: none;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 40px;
}
.sectionTwo .characteristics .char, .sectionTwo .estadistics .est{
  padding: 16px;
  width: 350px;
  text-align: center;
  border: 2px solid #C6C7C7;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0;
}
.sectionTwo .characteristics .char h3, .sectionTwo .estadistics .est h3{
  font-size: 21px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #101214;
  text-align: center;
}
.sectionTwo .characteristics .char p{
  font-size: 16px;
  color: #101214;
  text-align: justify;
}
.sectionTwo .estadistics .est p{
  font-size: 30px;
  color: #101214;
  text-align: center;
}
.sectionTwo .characteristics img {
  width: 100px;
  height: auto;
}
/*section 3*/
.sectionThree{
  height:auto;
}
.sectionThree h2{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 45px;
  color: #101214;
  margin-bottom: 20px;
}
.sectionThree .function{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: auto;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
}
.sectionThree .function .how{
  padding: 15px 40px;
}
.sectionThree .function img{
  width: 48%;
  height: 250px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.sectionThree .function .how h3, .sectionThree .function .opinions h3{
  font-size: 25px;
  margin-top: 10px;
  color: #101214;
  text-align: center;
}
.sectionThree .function .how ul li{
  text-decoration: none;
  list-style: none;
  margin-bottom: 10px;
  font-size: 18px;
}
.sectionThree .function .how, .sectionThree .function .opinions {
  width: 48%;
  border: 2px solid #C6C7C7;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 250px;
}
.sectionThree .function .opinions {
  text-align: center;
}
.sectionThree .function .opinion-card {
  margin: 20px;
  background-color: #f3f4f6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.user-name {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 10px;
}
.stars {
  color: #FFD700;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.opinion {
  font-style: italic;
  font-size: 16px;
  color: #555;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}
/*section Four*/
.sectionFour{
  height: auto;
}
.sectionFour .who{
  margin: 40px 80px 80px;
}
.sectionFour .who h2{
  margin-top: 45px;
  margin-bottom: 45px;
  text-align: center;
  font-size: 45px;
  color: #101214;
}
.sectionFour .who .aboutus{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
  background-color: #33A0FF;
  padding: 20px;
  height: 85px;
}
.sectionFour .who .aboutus p{
  align-items: center;
  text-align: center;
  font-size: 22px;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
  margin-right: auto;
  cursor: default;
}
.sectionFour .who .aboutus button{
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 16px;
  height: 45px;
  width: 100px;
  justify-content: center;
  border-radius: 20px;
}
.sectionFour .who .aboutus button:hover{
  background-color: white;
  color: black;
}
.mission-vision {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 30px;
}
.mission-vision .mision, .mission-vision .vision {
  border-radius: 10px;
  border: 2px solid #C6C7C7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 50%;
}
.mission-vision img, .mission-vision .participants{
  width: 50%;
}
.mission-vision .mision h3, .mission-vision .vision h3{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 25px;
  color: #101214;
}
.mission-vision .mision p, .mission-vision .vision p {
  font-size: 18px;
  color: #101214;
}
.mission-vision .imageGroup{
  height: 300px;
  border-radius: 20px;
}
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-item {
  text-align: center;
  max-width: 400px;
  height: 300px;
  margin: 0 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.carousel-item h4 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
.carousel-item p {
  font-size: 16px;
  color: #666;
}
.carousel-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.carousel-button img {
  height: auto;
  width: 40px;
}
.member-photo {
  width: 100px;
  height: auto;
  border-radius: 50%; /* Hace que la imagen sea circular */
  object-fit: cover; /* Ajusta la imagen para cubrir el espacio del contenedor */
  margin-bottom: 10px;
}
/*footer*/
footer {
  background-color: #C6C7C7;
  color: #101214;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  margin: 15px;
}

.footer-section h2,
.footer-section h3 {
  color: #101214;
  font-size: 18px;
}

.footer-section p,
.footer-section ul,
.footer-section a {
  color: #101214;
  font-size: 16px;
  text-decoration: none;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 8px 0;
}

.footer-section a:hover {
  color: #101214;
}

.footer-section img {
  max-width: 150px;
  margin: 10px 0;
}

.footer-section form {
  display: flex;
  align-items: center;
}

.footer-section input {
  padding: 8px;
  border: none;
  border-radius: 3px;
  width: 200px;
}

.footer-section button {
  padding: 8px;
  background-color: #133149;
  color: white;
  border: none;
  margin-left: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #333;
  padding: 10px 0;
}

.footer-bottom p {
  text-align: center;
  color: #101214;
  font-size: 14px;
}

.footer-section i {
  font-size: 24px;
  margin-right: 10px;
  color: #101214;
}

.footer-section i:hover {
  color: #101214;
}

